{% extends "base_css.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_credential.css') }}">

<div id="savekey">
    <h3 class="title">Add New Credential</h3>
</div>
    
<form method="POST" action="/savekey">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="key_name" placeholder="Username">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" name="key_content" placeholder="Password">
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control" type="text" name="key_description" placeholder="Description">
    </div>

    <div id="save">
        <button class="btn btn-primary">Save</button>
    </div>
</form>

{% endblock %}